body {
    background-color: var(--darkest-green-color);
    text-align: center;
    color: var(--main-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-paypal a {
    color: var(--main-green-color);
}
